body {
  font-family: 'Raleway';
}

.playa {
  position: relative;
  overflow: hidden;

  &__header {
    background-color: #84a9a7;
    background-size: cover;
    background-position: 50% 50%;
    height: 762px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    &__top {
      padding-top: 50px;
      height: 140px;
      position: relative;
      z-index: 30;
    }

    &__nav {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      width: 100vw;
      min-height: 600px;
      height: 100vh;
      background: #ec641d url("../images/dist/bg.svg") 50% 50% / cover;
      transition: all 0.5s ease-in-out;
      transform: translateY(-100%);
      overflow: hidden;
    }

    &__logo {
      display: flex;
      justify-content: center;
      color: #fff;
    }

    &__phone {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      font-variant-numeric: lining-nums;
      font-feature-settings: "lnum";
      white-space: nowrap;
      letter-spacing: 0.1em;

      &:hover {
        color: #fff;
      }
    }

    &__desc {
      text-align: center;
      padding-top: 108px;

      h1 {
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 30px;
      }

      p {
        display: block;
        color: #fff;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 52px;
      }
    }

    &__col-tel {
      padding-top: 20px;
    }
  }
}

.text-right {
  text-align: right;
}

.only-mob {
  display: none;
}

.btn.btn-yellow {
  height: 50px;
  padding: 10px 30px;
  border: none;
  background: #ec641d;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0;

  &:hover,
  &:active {
    outline: none;
    box-shadow: none;
    color: #fff;
    background: #f6aa3b;
  }
}

.playa__header-footer {
  position: relative;
  text-align: center;
  padding-top: 190px;
  padding-bottom: 40px;
  color: #a6a6a6;
  font-size: 18px;
  line-height: 24px;
  z-index: 2;
  text-transform: uppercase;

}

.playa__header::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  width: 1px;
  height: 300px;
  background: #a6a6a6;
  left: 50%;
  bottom: -150px;
}

/*.wow { visibility: hidden; }*/

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.playa__img-box1__logo {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  color: #ec641d;
}

.playa__img {
  overflow: hidden;
  margin: 0;
  display: block;
}

.fpad120 {
  padding-bottom: 120px;
}

.tpad50 {
  padding-top: 50px;
}

.tpad70 {
  padding-top: 70px;
}

.text {
  p {
    color: #7d7d7d;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 30px !important;
    line-height: 1;
    margin: 0 !important;
    padding: 60px 0 40px !important;
    color: #5c5c5c;
    font-weight: bold !important;
  }
}

.playa__section1 {
  background: url("../images/dist/bg-sectio1.svg") 50% 320px repeat-x;
  background-size: auto 275px;
}

.playa__img-box2 {
  height: 540px;
  position: relative;

  &__inner {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    height: 100%;
    width: 962px;

    .playa__img {
      display: block;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}

.playa__img-box4 {
  height: 399px;
  position: relative;

  &__inner {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 100px;
    width: 670px;
    height: 100%;
  }
}

.playa__img-box5 {
  height: 735px;
  position: relative;

  &__inner {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 845px;
    height: 100%;

  }
}

.playa__img-box6 {
  height: 540px;
  position: relative;

  &__inner {
    position: absolute;
    z-index: 10;
    top: 0;
    left: -15px;
    width: 975px;
    height: 100%;
  }
}

.playa__section2 {
  background: url("../images/dist/bg-sectio1.svg") 50% 100% repeat-x;
  background-size: auto 275px;
}

.playa__menu-title {
  display: flex;
  align-items: center;

  svg {
    margin-right: 35px;
  }

  span {
    margin-top: 5px;
    font-weight: bold;
    color: #5c5c5c;
    font-size: 30px;
    line-height: 1;
  }
}

.playa__menu {
  margin-bottom: 50px;

  &__accordion-button {
    position: relative;
    cursor: pointer;
    color: #5c5c5c;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    padding-right: 50px;

    &:not(.collapsed) {
      .playa__menu__ico svg {
        transform: rotate(135deg);
      }
    }
  }

  &__body {
    position: relative;
  }

  &__list {
    &__item {
      padding-top: 20px;
      padding-bottom: 10px;
      display: flex;
    }
  }

  &__desc {
    flex-grow: 1;
    padding-right: 10px;
    width: 200px;

    h4 {
      color: #5c5c5c;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin: 0;
      padding: 0 0 5px;
    }

    p {
      margin: 0;
      color: #a1a1a1;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__ico {
    display: flex;
    height: 100%;
    width: 70px;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;

    svg {
      display: block;
      transition: all 0.3s ease-in-out;
    }
  }
}

.playa__menu__cost {
  padding-left: 20px;
  position: relative;

  .price {
    font-feature-settings: "lnum";
    color: #5c5c5c;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    font-variant-numeric: lining-nums;
    white-space: nowrap;
  }

  &::after {
    content: "/";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    font-feature-settings: "lnum";
    color: #ec641d;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    font-variant-numeric: lining-nums;
    display: block;
  }
}

.rouble {
  font-family: 'rouble';
}

.playa__menu__img {
  display: flex;
  justify-content: flex-end;
  &__inner {

    display: flex;
    justify-content: flex-end;
    width: 150vw;
    padding-right: 100px;
    img {
      opacity: 0;

    }
  }
}
.accordion {
  margin-top: -60px;
}

.playa__menu__body.show {

  .playa__menu__img img {
    margin-right: 100px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

.playa__pre-footer {
  display: flex;
  justify-content: flex-end;
  height: 240px;
  padding-top: 20px;
  position: relative;
  z-index: 10;
}

.zi-2 {
  z-index: 2;
}

.playa__footer {
  background: #f5f7f7;
  padding-top: 100px;

  &__logo {
    color: #bac9c8;
    margin-bottom: 45px;
  }

  &__slogan {
    color: #5c5c5c;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 15px;
    font-weight: bold;
  }

  &__time {
    padding-bottom: 40px;
    color: #5c5c5c;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    font-feature-settings: "lnum";
    font-variant-numeric: lining-nums;
  }
}

.playa__footer__row__left {
  flex-grow: 1;
}

.playa__footer__soc a {
  display: block;
  color: #5c5c5c;
  white-space: nowrap;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  &:hover {
    color: #ec641d;
  }
}

.playa__footer__phone {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
  color: #5c5c5c;
  letter-spacing: 0.1em;
  display: block;
  margin-bottom: 20px;

  &:hover {
    color: #ec641d;
  }
}

.fpad50 {
  padding-bottom: 50px;
}

.playa__footer__addr {
  font-weight: 500;

  p {
    color: #5c5c5c;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    font-feature-settings: "lnum";
    font-variant-numeric: lining-nums;
  }

  a {
    color: #ec641d;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: #ec641d;
    }
  }
}

.playa__footer__bottom {
  border-top: 2px solid #fff;
  padding: 22px 0;

  span,
  a {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
  }

  .web-master {
    display: inline-flex;
    align-items: center;
    margin-right: 50px;

    &__ico {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      background: #fff;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
    }
  }
}

.playa__header__toggle-menu {
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &__ico {
    width: 40px;
    display: block;
    position: relative;
    z-index: 20;
    margin-right: 25px;
    height: 18px;

    &::after,
    &::before {
      content: "";
      display: block;
      transition: all 0.5s ease-in-out;
      width: 100%;
      left: 0;
      height: 2px;
      background-color: #fff;
      position: absolute;
    }

    &::after {
      top: 0;
    }

    &::before {
      bottom: 0;
    }

    span {
      display: block;
      width: 15px;
      height: 2px;
      background-color: #fff;
      left: 0;
      transition: all 0.35s ease-in-out;
      top: 50%;
      margin-top: -1px;
      position: absolute;
    }
  }

  &:hover {
    .playa__header__toggle-menu__ico {
      span {
        width: 100%;
      }
    }
  }
}

body.menu-active {

  .playa__header__toggle-menu {
    &__ico {
      &::after,
      &::before {
        width: 0;
      }

      span {
        width: 100%;
      }
    }
  }

  .playa__header__nav {
    transform: translateY(0);
  }
}

.playa__header__nav__list {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 40;
  padding-top: 120px;
  padding-bottom: 50px;

  li {
    padding: 25px 0;
    text-align: center;
    overflow: hidden;

    a {
      display: inline-block;
      white-space: nowrap;
      color: #fff;
      font-weight: bold;
      font-size: 40px;
      line-height: 50px;
      text-decoration: none;
      opacity: 0;
      cursor: pointer;

      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 30;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        width: 0;
        height: 4px;
        background: #f6aa3b;
      }

      &::after {
        left: 50%;
      }

      &::before {
        right: 50%;
      }

      &:hover {
        &::after,
        &::before {
          width: 50%;
        }
      }
    }
  }
}

.modal {
  background: #ec641d url("../images/dist/bg.svg") 50% 50% / cover;
}

.btn-check:focus + .btn, .btn:focus {
  box-shadow: none !important;
}

.playa__modal {
  border-radius: 0 !important;
  background: transparent !important;
  border: none !important;

  &__header {
    position: relative;
    padding-bottom: 40px;
  }

  &__close {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 0;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
    &:focus,
    &:active {
      color: #fff;
    }

    svg {
      margin-left: 10px;
      transform: rotate(45deg);
    }
  }
}

.playa__header__nav__list li {
  width: 100%;
}

.playa__modal__wrap {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;

  h2 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 30px;
  }
}

.playa__modal__form {
  &__inp {
    padding-bottom: 15px;
    position: relative;

    input {
      display: block;
      width: 100%;
      background: transparent;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #fff;
      color: #fff;
      height: 54px;
      font-size: 18px;
      line-height: 54px;
      font-weight: 500;

      &::placeholder {
        color: #fff;
        opacity: 1;
      }

      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }

  &__politica {
    display: block;
    margin-top: 5px;
    margin-bottom: 35px;

    input {
      display: none;
      &:checked {
        & + span::after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 382.87'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cpath fill='%23ec641d' d='M444.18,0,183.3,242,73,124.28,0,192.66,178.23,382.87,512,73.52Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
      }
    }

    span {
      display: block;
      position: relative;
      padding-left: 30px;
      font-size: 12px;
      line-height: 18px;
      color: #fff;
      font-weight: 400;

      a {
        color: #fff;
        text-decoration: underline;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: 3px;
        left: 0;
        width: 18px;
        height: 18px;
        background-color: #fff;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 12px auto;
      }
    }


  }

  &__footer {
    padding: 0 50px;
  }

  &__submit {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background: #fff;
    cursor: pointer;
    height: 48px;
    padding: 0;
    color: #ec641d;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.1em;
    justify-content: center;
    &:focus,
    &:active {
      outline: none;
      color: #ec641d;
      box-shadow: none;
    }
  }
}
.error-message {
  font-size: 10px;
  line-height: 14px;
  padding-top: 5px;
  font-weight: 400;
  color: #fff;
}
.air-datepicker-global-container {
  z-index: 99999;
}
.playa__modal__close:hover {
  color: #fff;
}
.playa__menu__list {
  position: relative;
  overflow: hidden;
  .col-lg-5 {
    position: relative;
    .playa__menu__img {
      position: absolute;
      top: 50px;
      right: 0;
    }
  }
}