@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot');
  src: local('Raleway'), local('Raleway-Regular'),
  url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-Regular.woff') format('woff'),
  url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.eot');
  src: local('Raleway Medium'), local('Raleway-Medium'),
  url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-Medium.woff') format('woff'),
  url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.eot');
  src: local('Raleway Bold'), local('Raleway-Bold'),
  url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-Bold.woff') format('woff'),
  url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBold.eot');
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
  url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-ExtraBold.woff') format('woff'),
  url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'rouble';
  src: url('../fonts/rouble-webfont.eot');
  src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/rouble-webfont.woff') format('woff'),
  url('../fonts/rouble-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
